* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #FFFFFF;
    margin: 0;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.home .cocuklar {
    display: flex;
    flex-flow: wrap;
}

.home .cocuklar a {
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 300px;
    margin: 0 20px 20px 0;
    border-radius: 15px;
}

/*.home .cocuklar a:hover span {
    opacity: 1;
    transition: opacity 1s;
}*/

.cocuk {
    display: flex !important;
    justify-content: center;
    text-align: center;
    position: absolute;
    color: #fff;
    /*opacity: 1;
    transition: opacity 1s;*/
}

.cocuk-ad {
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.cocuk-aciklama {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 4px;
}

.cocuk-sma-tipi {
    flex-direction: column;
    display: flex;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 999;
}

.baslik {
    font-family: ubuntu;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
}

.arama {
    display: flex;
    padding-bottom: 10px;
}

.arama-butonu {
    font-family: ubuntu;
    color: #fff;
}

#ara {
    border-radius: 5px;
    background-color: #e9e9ed;
}

.sirala {
    align-self: center;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    margin-left: -5px;
}

.sirala-label {
    align-self: center;
    padding: 0px 5px 0px 5px;
}

@media (max-width: 991px) {
    .content {
        width: 650px;
    }

    /*.cocuk {
        opacity: 1;
    }*/

    .baslik {
        justify-content: center;
    }

    .cocuklar {
        justify-content: center;
    }

    .arama {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .content {
        max-width: 350px;
    }
}

@media (max-width: 450px) {
    .content {
        width: 350px;
    }
}