@font-face {
    font-family: "card-font";
    src: url("./fontTTF/Lobster-Regular.ttf") format("truetype");
}

#card-container {
    background-image: url("../../images/background.png");
    padding: 20px;
}

#card-image {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* #card-text {
  padding: 10px;
} */

#qr-code {
    display: block;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}

#card-logo {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
}

.card-font {
    font-family: card-font;
    color: blueviolet;
    font-weight: 700;
    font-size: 15px;
}

#card-msg {
    font-family: card-font;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.card-from {
    font-family: card-font;
}